S3method(plot,rfPermute)
S3method(plot,rp.importance)
S3method(rfPermute,default)
S3method(rfPermute,formula)
export(clean.rf.data)
export(plot.rfPermute)
export(plot.rp.importance)
export(proximity.plot)
export(rfPermute)
export(rp.importance)
